@{
    
    ViewData["Title"] = "Home Page";
    var categories = ViewBag.categories as List<ECommereceSiteModels.Models.Category>;
}
@model IEnumerable<Category>

<section id="main_slider">
<div id="carouselExampleDark" class="carousel carousel-dark slide">
    <div class="carousel-indicators">
        <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
        <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="1" aria-label="Slide 2"></button>
        <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="2" aria-label="Slide 3"></button>
    </div>
    <div class="carousel-inner">
        <div class="carousel-item active" data-bs-interval="10000">
                <img src="~/images/slider/006050c4-178d-491c-8e8f-03103775e294.jpg" alt="Alternate Text" class="bd-placeholder-img bd-placeholder-img-lg d-block w-100"  />        
        </div>
        <div class="carousel-item" data-bs-interval="2000">
                <img src="~/images/slider/02e9dcc1-a619-4fd2-87d8-5bd7b3fdf950.jpg" alt="Alternate Text" class="bd-placeholder-img bd-placeholder-img-lg d-block w-100"  />
        </div>
        <div class="carousel-item">
                <img src="~/images/slider/dbfad525506fca03e512f974f9f7f631.png" alt="Alternate Text" class="bd-placeholder-img bd-placeholder-img-lg d-block w-100"  />
        </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
    </button>
</div>
</section>

<section class=" card pt-3 pb-5" id="feature_Product">
    <div id="carouselExampleControls" class="carousel carousel-dark slide " data-bs-ride="carousel">
        <div class="container">
            <div class="row">
                <div class="col-6">
                    <h3 class="mb-3">Category</h3>
                </div>
            </div>
            <div class="carousel-inner">
                @{
                    int itemsPerSlide = 7;
                    int totalItems = categories.Count;
                    int slideCount = (totalItems + itemsPerSlide - 1) / itemsPerSlide;
                    for (int i = 0; i < slideCount; i++)
                    {
                        bool isActive = i == 0;
                        <div class="carousel-item @(isActive ? "active" : "")">
                            <div class="card-wrapper container-sm d-flex justify-content-around ">
                                @for (int j = 0; j < itemsPerSlide; j++)
                                {
                                    int index = i * itemsPerSlide + j;
                                    if (index < totalItems)
                                    {
                                        <div class="card card-hover" style="width: 10rem;">
                                            <a asp-action="CategoryWiseProducts" asp-route-categoryId="@categories[index].Id" class="link text-dark text-decoration-none">
                                            <img src="@categories[index].ImageUrl" class="card-img-top d-block " alt="@categories[index].CategoryName" >
                                            <div class="card-body p-1">
                                                <h4 class="card-title text-center m-0">@categories[index].CategoryName</h4>
                                                </div>
                                            </a>
                                        </div>
                                    }
                                }
                            </div>
                        </div>
                    }
                }
            </div>
           @*  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
            </button> *@
        </div>
    </div>
</section>
