@model IEnumerable<ECommereceSiteModels.Models.Product>

@{
    ViewData["Title"] = ViewBag.CategoryName;
}

<h2>@ViewBag.CategoryName</h2>

<div class="container">
    <div class="row">
        @foreach (var product in Model)
        {
            <div class="col-md-3">
                <div class="card mb-4">
                    <img src="@product.ImageUrl" class="card-img-top" alt="@product.ProductName">
                    <div class="card-body">
                        <h6 class="card-title">@product.ProductName</h6>
                        <p class="card-text"> Rs: @product.Price</p>
                    </div>
                </div>
            </div>
        }
    </div>
</div>

